 
 /* color palette 1*/
 
 /* #4E494F
 #E3ECFA
 #5A81AE */

 /* color palette 2 */

 /* #4E494F
 #D3CDD4
 #00AA9D
 #6E5D72 */
 
 
 
 /* Hero background*/
 .bgimage {
    height: 100vh;
    background: url('/images/herobg.jpg');
    background-size: cover;
    position: relative;
 }

 /*Above hero section */
 .hero_title {
    font-size: 4.5rem;
 }

 .hero_desc {
    font-size: 2rem;;
 }

 .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
 }

 /* About section */
 .imageAboutPage {
    width: 100%;
 }

 /* Service section*/
 .servicesText .card {
    height: 280px;
    cursor: pointer;
 }
 
 .servicesIcon {
    font-size:36px;
    text-align:center;
    width:100%;
 } 

.card-title {
    text-align:center;
}

.card:hover .servicesIcon {
    color: #008000;
}

.servicesText:hover {
    border: 1px solid #008000;
}